<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/public/estilo.css"> <!-- Aqui é feito a chamada dos comandos do arquivo CSS -->
	</head>

	<body background="p_check-out-para-supermercado-com-esteira-2.jpg"> <!-- Imagem de fundo da pagina -->
		<nav id="menu"> <!-- Aqui é realizada a criação do menu de navegação do site -->
				<ul align="center">
					<li><a href="InterfaceMercado.html">Home</a></li>
					<li><a href="Cadastrar.html">Cadastrar</a></li>
					<li><a href="Alterar.html">Alterar</a></li>
					<li><a href="Remover.html">Remover</a></li>
					<li><a href="Consultar.html">Consultar</a></li>
				</ul>
			<h1> Consultar </h1>
			<fieldset align="center"> <!-- Fieldset: Desenha uma caixa em torno de um conjunto de elementos -->
				<form method="post">  <!-- Aqui é feita a criação de um formulário de entrada de dados -->
					<input type="text" name="firstname"><br/>
					</br><input type="text" name="lastname"><br/>
					</br><input type="password" name="senha">
				</form>
			</fieldset>	
		</nav>
	</body>
</html>